@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: 'Montserrat', sans-serif;*/


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: 'montserrat';

}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0px 2%;
  background-color: white;
  box-shadow: 0px 20px 40px;
  position: relative;
  z-index: 10;
}

.logo{
  width: 100px;
  height: auto;
  cursor: pointer;
}
.navlist{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;

}

.navlist li{
  display: inline-block;
  padding:  0px 20px;
}

.navlist li a{
  transition: 0.1s;
  list-style: none;
  color: black;
  text-decoration: none;
}

.navlist li a:hover{
  color: #f4a83c;
}

.buttom{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 9px 25px;
  background-color: #F15A24;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.1s;

}

.buttom:hover{
  color: #AB5F18;
}

.sidelist{
  text-decoration: none;
}

.sidelist li{
  display: inline-block;
  padding:  0px 10px;
}
.sidelist li a{
  transition: all 0,4s ease 0s;
  list-style: none;
  color: black;
  text-decoration: none;
}
.sidelist li a:hover{
  color: #f4a83c;
}
.kurv{
  width: 30px;
}
.findos{
  width: 20px
}
.burger{
  text-decoration: none;
}
.burg{
  text-decoration: none;
  list-style: none;
  color: #F15A24;
  font-size: 60px;
}


@media only screen and (max-width: 769px){
  nav{
    display: none;
  }
  .billedertilmain{
    height: 100vh;
  }
  .rasmus{
    position: absolute;
    top: 210px;
    left: -30px;
    width: 55%;
    max-width: 400px;
  }
  .rasmusbaggrund{
    position: absolute;
    top: 180px;
    left: 0;
    width: 70%;
  }
  .nyny{
    display: none;
  }

  .sidelist{
    display: none;
  }
  header{
    justify-content: space-between;
  }
  footer::before{
    background: url("images/sidstegang.svg") center bottom no-repeat;
    bottom: 100%;
    content: '';
    height: 300px;
    position: absolute;
    width: 100%;
}
.rasmusbaggrundhvid{
  position: absolute;
  top: 180px;
  left: 70px;
  width: 100%;
}

.pp{
  position: absolute;
  top: 270px;
  left: 170px;
  font-size: 20px;
  font-weight: 400;

}
.kk{
  position: absolute;
  top: 300px;
  left: 170px;
  font-size: 20px;
  font-weight: 200;
  width: 15ch;
  text-align: center;
}


}
 @media only screen and (min-width: 770px) {
   .burger{
     display: none;
   }
   .findos{
     display: none;
   }

   footer::before{
    background: url("images/footer.svg") center bottom no-repeat;
    bottom: 100%;
    content: '';
    height: 100px;
    position: absolute;
    width: 100%;
}
.rasmus{
  position: absolute;
  top: 600px;
  left: -30px;
  width: 200px;
  max-width: 400px;
}
.rasmusbaggrund{
  position: absolute;
  top: 600px;
  left: 0;
  width: 300px;
}
.rasmusbaggrundhvid{
  position: absolute;
  top: 600px;
  left: 70px;
  width: 400px;
}

.kunderne{
  display: none;
}

    

   

 }
 @media only screen and (min-width: 666px) {

   .billedertilmain{
     height: 150vh;
   }
   .pp{
    position: absolute;
    top: 270px;
    left: 350px;
    font-size: 20px;
    font-weight: 400;
 
  }
  .kk{
    position: absolute;
    top: 300px;
    left: 350px;
    font-size: 20px;
    font-weight: 200;
    width: 15ch;
    text-align: center;
  }


 }
 @media only screen and (min-width: 770px){
  .pp{
    position: absolute;
    top: 700px;
    left: 170px;
    font-size: 20px;
    font-weight: 400;
  
  }
  .kk{
    position: absolute;
    top: 750px;
    left: 170px;
    font-size: 20px;
    font-weight: 200;
    width: 15ch;
    text-align: center;
  }
  .læsmere{
    position: absolute;
    top: 1050px;
    left: 300px;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
  }

 }


.billedertilmain{
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;

}


  .wrapper{
       min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 80px; /* height of your footer */
}

  .pp1{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-top: 60px;
  }
  .pilvenstre{
      width: 100%;
      width: 5%;
      height: 5%;
      justify-content: center;
      padding-left: 10px;
  }
  .pilh{
    width: 100%;
    width: 5%;
    height: 5%;
    justify-content: center;
    padding-right: 10px;
}
.parent1{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50%;
}

.rew{
    width: 50%;
}
.pp1h{
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-top: 60px;

}
.rew1{
  padding-top: 100px;
  width: 250px;
}
.rew2{
  width: 250px;
  padding-top: 50px;
}
.rew3{
  width: 250px;
  padding-top: 50px;
}

.parent{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

}
.kunderne{
    position: relative;
    background-color: white;
}
.læsmere{
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  background-color: #FEA808;
  color: black;
}













.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}

footer{
  position: absolute;
  margin-top: auto;
  background-color: #FEA808;
  margin-top: auto;
  width: 100%;

}
.rowsome{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

#myVideo {
    right: 0;
    bottom: 0;
    width: 100%;

  }



.fb{
    width: 50px;
    margin-right: 10px;
}

.ig{
    width: 40px;
    margin-left: 10px;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.ur{
    width: 20px;
    margin: auto;
    padding-top: 30px;
}

.row1{
    margin: auto;
    text-align: center;
}

.lokation{
    width: 20px;
    padding-top: 30px;
}

.loka{
    margin: auto;
}

.phone{
    width: 20px;
    padding-top: 30px;
}

.pho{
    margin: auto;
}

.mp{
    width: 20px;
    padding-top: 30px;
}

.mobilepay{
    margin: auto;
}

.row2{
    text-align: center;
    margin: auto;
}

.row3{
    text-align: center;
    margin: auto;
}

.row4{
    text-align: center;
    margin: auto;
}

.pp{
    width: 100%;
    height: 500px;
}
